body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  max-height: 80px;
  background-color: #464646;
  display: flex;
  justify-content: center;
}

.navbar a {
  padding: 20px;
  flex-direction: column;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
  font-family: sans-serif;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

.navbar img {
  padding: 10px;
  width: 10%;
  object-fit: contain;
}

#toggle {
  display: none;
}

.togglearea {
  background-color: grey;
  border-bottom: 2px solid white;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.togglearea label {
  background-color: white;
  height: 45px;
  width: 75px;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.togglearea label span {
  background-color: black;
  height: 4px;
  width: 70%;
  margin: 2px 0px;
}

.togglearea {
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar {
    max-height: fit-content;
    flex-direction: column;
    display: none;
  }

  .navbar img {
    display: none;
  }

  #toggle:checked + .navbar {
    display: flex;
  }

  .togglearea {
    max-height: 50px;
    display: flex;
  }

  .togglearea img {
    width: 20%;
    object-fit: contain;
  }
}
